@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
	--bg-color: #22272e;
	--shadow-color: #292f38;
	--white-color: #c9d1d9;
	--gray-color: #79879c;
	--blue-color: #3a8ad4;
	--purple-color: #b67dff;
}
html,
body {
	font-family: "Open Sans", sans-serif;
	color: var(--white-color);
	background-color: var(--bg-color);
	height: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
a {
	color: var(--purple-color);
	text-decoration: none;
}
a:hover {
	color: var(--blue-color);
}
