.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 32px 0;
}
.item {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 32px 0 0;
	color: var(--purple-color);
}
.active {
	color: var(--blue-color);
}
