.post {
	margin: 48px 0;
}
.title {
	font-size: 21px;
	color: var(--white-color);
	font-weight: bold;
	margin: 8px 0 0 0;
}
.date {
	color: var(--gray-color);
	margin: 12px 0 0 0;
}
.excerpt {
	color: var(--white-color);
	margin: 12px 0 0 0;
}
.readMore {
	color: var(--purple-color);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	margin: 8px 0 0 0;
}
.post:hover .readMore {
	color: var(--blue-color);
}
