.back {
	margin-top: 32px;
	display: inline-block;
}
.info {
	color: var(--gray-color);
	margin-top: 32px;
}
.post {
	max-width: 600px;
	margin: 0 auto;
	line-height: 24px;
	color: var(--white-color);
}
.post h1 {
	font-size: 36px;
	font-size: 36px;
	margin-bottom: 52px;
	margin-top: 0;
}
.post h2 {
	font-size: 24px;
}
.post pre {
	background-color: var(--shadow-color);
	border-radius: 4px;
	padding: 16px;
}
