.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin: 48px 0 16px 0;
}
.repo {
	background-color: var(--shadow-color);
	padding: 32px;
	border-radius: 4px;
	color: var(--white-color);
}
.title {
	font-weight: bold;
	font-size: 18px;
	display: inline-flex;
	align-items: baseline;
	gap: 4px;
}
.description {
	color: var(--gray-color);
	margin-top: 8px;
}
.languages {
	margin-top: 12px;
	display: flex;
	gap: 12px;
	color: var(--gray-color);
	font-size: 12px;
	flex-wrap: wrap;
}
.dotWrapper {
	display: flex;
	align-items: center;
}
.dot {
	display: inline-block;
	height: 12px;
	width: 12px;
	background-color: var(--gray-color);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 100%;
	margin-right: 8px;
}
